<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-sm-12 col-md-3 col-lg-3">
  </div><!--centering-->

  <div class="col-sm-12 col-md-6 col-lg-6">

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, class:"form-control", placeholder: "Enter Product Name"%>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, class:"form-control", placeholder: "Enter Product Description" %>
    </div>

    <div class="field">
      <%= form.label :image_url %>
      <%= form.text_field :image_url, class:"form-control", placeholder: "Enter Image URL" %>
    </div>

    <div class="field">
      <%= form.label :color %>
      <%= form.text_field :color, class:"form-control", placeholder: "Enter Product Color" %>
    </div>

    <div class="field">
      <%= form.label :price %>
      <%= form.text_field :price, class:"form-control", placeholder: "Enter Price" %>
    </div><br>

    <div class="actions">
      <%= form.submit %>
    </div>

    <% end %>
  </div>
