
<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-4">
      <% @products.each do |product| %>
        <%= render product %>
      <% end %>
    </div>
  </div>
</div>

<br>

<%= link_to 'New Product', new_product_path %>
views/products/_product.html.erb

<% if product.image_url %>
  <%= image_tag(product.image_url, class: "my-image") %>
<% end %>
<a href="#"><h1><%= product.name %></h1></a>
<p><%= product.description %></p>
<p>Colour: <%= product.color %></p>
<h4>$<%= product.price %></h4><br/>
<%= link_to 'Show', product %>
<%= link_to 'Edit', edit_product_path(product) %>
<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
