<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <div>
      <%= image_tag(@product.image_url, class: "img-responsive product-show-image img-zoom", data_zoom_image: @product.image_url) %>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= @product.colour %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

</div>
<br/>
<hr>
<div class="row">
  <div class="col-md-6 col-xs-12 text-center">
    <%= render partial: "new_comment" %>
  </div>
  <div class="col-md-12 col-xs-12">
    <%= render partial: "comments" %>
  </div>

</div>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>
