<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <div>
      <%= image_tag(@product.image_url, class: "img-responsive product-show-image img-zoom", data_zoom_image: @product.image_url) %>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= @product.colour %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <p>
    <strong>Reviews:</strong>
    <%= @product.highest_rating_comment %>
  </p>

  <%= render 'new_comment' %>


  <%= render 'comments' %>

</div>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
