<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6 col-xs-12">
    <div>
      <%= image_tag(@product.image_url, class: "img-responsive product-show-image img-zoom", data_zoom_image: @product.image_url) %>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= @product.color %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>
  <% if current_user %>
  <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
  <%= form_with(url: '/payments/create') do |form| %>
      <%= render partial: "shared/stripe_checkout_button" %>
      <%= hidden_field_tag(:product_id, @product.id) %>
    <% end %>
  <% end %>

</div>

<div class="row">
  <div class="col-md-6 col-xs-12 text-center">
    <%= render partial: "new_comment" %>
  </div>
  <div class="col-md-12 col-xs-12">
    <%= render partial: "comments" %>
    <%= will_paginate @comments %>
  </div>

</div>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>
